<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favcon.ico">
  <title>Personal Blog</title>
</head>
<body>
    <nav class="navbar">

    <div class="nav-left">
  <a href="/" class="logo">
    <span>
      Shey Travels🧢
    </span>
  </a>

      <ul class="nav-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="nav-right">
      <a class="login-btn" href="/login">Login</a>
    </div>
  </nav>
</body>
</html>

